@font-face {
  font-family: 'Gagalin-Regular';
  src: url("../fonts/gagalin-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lifehack-Medium';
  src: url("../fonts/lifehack-medium.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu-light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu-b.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

html,
body {
  height: 100%; }

body {
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  font-family: 'Ubuntu', Helvetica, sans-serif;
  font-weight: 300;
  color: #2f3234; }

.container {
  margin: 0 auto;
  position: relative;
  max-width: 940px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.wrapper {
  position: relative;
  width: 100%;
  min-width: 960px;
  min-height: 100%;
  overflow: hidden; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

p {
  padding: 0;
  margin: 0; }

footer {
  position: relative;
  width: 100%; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.section {
  height: 100vh;
  min-height: 650px; }
  .section_centered {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }

.section-title {
  font-size: 72px;
  font-family: 'Gagalin-Regular', Helvetica, sans-serif;
  color: #f9b43b;
  margin-bottom: 40px; }
  .section-title_color_black {
    color: #2f3234; }
  .section-title_position_center {
    text-align: center; }

.btn {
  padding: 10px 15px;
  background: #e35028;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block; }

.hero {
  background: url("../img/bg/hero_bg.png") center center no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.header__btns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto; }

.hero__container {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.hero__content {
  -webkit-box-flex: .8;
  -webkit-flex-grow: .8;
  -ms-flex-positive: .8;
  flex-grow: .8;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.hero__text {
  color: #fff; }

.nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.nav__item:last-child .nav__link:after {
  display: none; }

.nav__link {
  color: #fff;
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .nav__link:after {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #fff;
    margin: 0 16px; }

.hero__pic {
  width: 50%; }

.hero__pic-img {
  display: block;
  max-width: 100%; }

.hero__text {
  width: 50%; }

.best {
  background: url("../img/bg/best-bg.png") center center no-repeat;
  background-size: cover; }

.best__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.best__item {
  margin-right: 20px; }
  .best__item:last-child {
    margin-right: 0; }

.team {
  background: url("../img/bg/team-bg.png") center center no-repeat;
  background-size: cover;
  position: relative; }

.team__container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  background: rgba(47, 50, 52, 0.93);
  padding-left: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 50px; }

.team-acco__trigger {
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .team-acco__trigger:before {
    content: "";
    height: 0;
    width: 0;
    border: 9px solid transparent;
    border-top-color: #f9b43b;
    border-block-start-width: 0; }

.team-acco__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.team-acco__text {
  color: #fff;
  max-width: 50%; }

.team-acco__content {
  display: none; }

.team-acco__item_active .team-acco__trigger {
  color: #f9b43b; }
  .team-acco__item_active .team-acco__trigger:before {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg); }

.team-acco__item_active .team-acco__content {
  display: block; }

.reviews__list {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.reviews__item {
  width: 25%;
  height: 50%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  position: relative; }
  .reviews__item:hover .reviews__hover {
    opacity: 1; }

.reviews__hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(69, 69, 69, 0.7);
  opacity: 0;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s; }

.order {
  background: url("../img/bg/ord-bg.png") center center no-repeat;
  background-size: cover; }

.form__block-title {
  color: #fff; }

.form__input {
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 100%; }

.form__content {
  width: 50%; }

.form__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px; }

.form__block {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 20px; }
  .form__block:last-child {
    margin-right: 0; }

/*# sourceMappingURL=main.css.map */