.btn{
    padding: 10px 15px;
    background: $red;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block; //никогда не оставлять ссылку неблочной//
    @include tablets{
        margin-right: 70px;
    }
    @include phones {
        margin-right: 0;
    }
}