.best{
    background: url('../img/bg/best-bg.png') center center no-repeat;
    background-size: cover;
}

.best__list{
    display: flex;
    

}

.best__item{
    margin-right: rem(20px);
    text-align: center;
   
    


    &:last-child{
        margin-right: 0;
    }
}

.best__icon{
    margin-bottom: rem(50px);
}


