.hero {
    background: url('../img/bg/hero_bg.png') center center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;

}


.header{
    display: flex;
    align-items: center;
}

.logo{
    margin-top: rem(11px);
}


.header__btns {
    display: flex;
    align-items: center;
    margin-left: auto; //блок прижмется к противоположной строне, в данном случак к правой//
    @include phones{
        margin-right: 70px;
    }
}


.hero__container{   //расстягиваем блок на всю ширину//
    flex: 1; 

    
}

.hero__content {
    flex-grow: .8; //блоки будут одинакового размера// // .8 чтобы визуально контент был по центру//
    display: flex;
    align-items: center;
    @include tablets {  // контент столбиком//
        flex-direction: column; 
        padding: 0 rem(139px);
    }

    @include phones{
        padding: 0;
    }
}


.hero__text{
    color: #fff;
}

.nav__list{
    display: flex;

    @include tablets {
        display: none;  //требуется чтобы спрятать элемент при адаптиве//
    }
}

.nav__item{             //убираем последнюю точку//
    &:last-child{
        .nav__link:after{
            display: none;
        }

    }

    margin-right: rem(20px);
}

.nav__link{
    color: #fff;
    text-decoration: none;
    display: flex; //чтобы точки выровнялись//
    align-items: center; //позиц. точек//

    &:after{
        content: "";
        display: block;
        width: rem(4px);
        height: rem(4px);
        border-radius: 50%;
        background: #fff;
        margin: 0 rem(16px); //сверху-0, по бокам 16px//

    }
}


.hero__pic, .hero__text{     
    
    width: 100%;   
    


}

.hero__pic-img{         //в адаптивных сайтах не забывать ставить картинкам блочную модель поведения//
    display: block;
    max-width: 100%;     //не ставить жестких размеров, лучше по одному, либо width или height//   
}


.hero__text{
    
    @include tablets {
        padding-top: 0;
        text-align: center;
    }
}

.hero__desc{
    font-size: 65px;
    @include lifehack;
    line-height: 1;
}



