.order{
    background: url('../img/bg/ord-bg.png') center center no-repeat;
    background-size: cover;
}

.form__block-title{
    color: #fff;
}

.form__input{
    border: none;
    border-radius: rem(5px);
    padding: rem(5px);
    width: 100%; //расстягиваем поля на всю ширину//
}

.form__content{
    width: 45%;
    margin-right: rem(20px);

    @include tablets {
        margin-right: 0;
        width: 100%;
        padding: 0 20%;
    }
    
    @include phones{
        padding: 0;
    }

}

.form__elem{
    display: -webkit-box;

    @include tablets{
        flex-direction: column;
       
    }
}



.form__row{
    display: flex;
    margin-bottom: rem(20px);
    @include phones{
        &_pad{
            padding: 0 118px;
        }
        &_center{
            text-align: center;
        }
        margin-bottom: 30px;
    }
}

.form__block{
    flex: 1; //занимают столько, сколько есть места одинаковой пропорции//
    margin-right: rem(20px);

    @include phones{
        &_none {
            display: none;
        }

    }
 

 &:last-child{
     margin-right: 0;
 }


}

.form__teaxtarea {
    height: rem(106px);
    width: 100%;
    resize: none;
    padding: rem(5px);
    border-radius: rem(5px);
}

.btn__title{
    width: rem(98px);
    height: rem(37px);
    text-align: center;
    padding: rem(8px);
    cursor: pointer;
    color: #fff;
    margin-left: rem(10px);
}

