.order{
    background: url('../img/bg/ord-bg.png') center center no-repeat;
    background-size: cover;
}

.form__block-title{
    color: #fff;
}

.form__input{
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 100%; //расстягиваем поля на всю ширину//
}

.form__content{
    width: 50%;
    

}



.form__row{
    display: flex;
    margin-bottom: 20px;
}

.form__block{
    flex: 1; //занимают столько, сколько есть места одинаковой пропорции//
    margin-right: 20px;
 

 &:last-child{
     margin-right: 0;
 }


}

