.reviews__list {

    height: 100%;
    display: flex;
    flex-wrap: wrap; //чтобы новые эл-ты перескакивали н новую строчку//

}


.reviews__item{
    width: 25%; //так как ширина экрана 100%, эелемента в строчке 4//
    height: 50%; //так как высота 100%, а элементов в столбце 2//
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    position: relative;


    &:hover {
        .reviews__hover{
            opacity: 1;
        }
    }

    @include tablets {
        width: 50%;
        height: 25%;
    }
}

.reviews__hover{
    position: absolute;
    //командами ниже расстягиваем по всей ширине
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    //
    background: rgba(#454545, .7);
    opacity: 0;
    transition: opacity .3s;
    color: #fff;
    padding: rem(49px) rem(21px);

    .reviews__hover-title{
        margin-bottom: rem(10px);
        @include phones {
            margin-bottom: rem(50px);
           
        }
    }

}
.reviews__hover-link{
    text-decoration: none;
    border: rem(1px) solid #2f3234;
    background: #2f3234;
    padding: rem(10px);
    color: #fff;
    text-transform: uppercase;
    border-radius: rem(5px);
    
    font-size: rem(14px);

   
}

.reviews__hover-desc{
    margin-bottom: rem(15px);
    @include phones {
        display: none;
    }
    
}

