.team {
    background: url('../img/bg/team-bg.png') center center no-repeat;
    background-size: cover;
    position: relative;
}


.team__container{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    background: rgba(#2f3234, .93);
    padding-left: rem(70px);
    display: flex;
    flex-direction: column;
    padding-top: rem(50px);
    @include tablets {
        width: 100%;
        
    }
}

.team-acco__item{
    @include tablets{
        text-align: center;
    }
}

.team-acco__trigger{
    color: #fff;
    display: inline-block;
    align-items: center;

    &:before{
        content: "";
        height: 0;
        width: 0;
        border: rem(9px) solid transparent;
        border-top-color: $yellow;
        border-block-start-width: 0;
       
    }
}

.team-acco__content {
    display: flex;

}

.team-acco__text, .team-acco__pic{
    @include tablets {
        width: 100%;
    }
}

.team-acco__text{
    color: #fff;
    max-width: 50%; 
    display: inline-block;
}

.team-acco__content{
    display: none;
}

.team-acco__item_active {
    .team-acco__trigger{
        color: $yellow;

        &:before{
            transform: rotate(-180deg);
        }
    }

    .team-acco__content{
        display: flex;
        @include tablets {
            display: block;
            
        }
    }
}

