
.about__title {
    color: white;
    position: relative;
    padding: 0;
    margin-top: 160px;
    margin-left: 67px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 49px;
  
  }
  
  .about__header{
    position: relative;
    width: 885px;
    height: 355px;
    overflow: hidden;
    margin-top: -45px;
    background-image: url(../../png/weight.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
  }
  
  
  
  

  
  .about__desc{
    line-height: 1.2;
    font-size: 18px;
    margin-bottom: 20px
  }
  
  .about__desc-info{
    margin-top: 30px;
  }
  
  
  .footnote__about {
    color: #d3d3d3;
    width: 700px;
    background-color: #131415;
  }
  
  .footnote__desc{
    text-align: left;
   padding: 20px;
   font-size: 18px;
  }
  
  .about__list{
    padding-left: 20px;
    list-style: disc;
    
  }
  
  .partners__title{
    margin-top: 62px;
    margin-bottom: 48px;
    text-transform: uppercase;
   
  }
  
  .partners__item {
    width: 163px;
   display: inline-block;
   margin-right: 116px;
   margin-bottom: 70px;
   text-align: center;
  }
  
  .partners__link {
    display: block;
  }

  .part__icon {
    width: 163px;
    height: 70px;
    display: inline-block;
    text-align: center;
  }
  
  .part__icon_fl {
    background: url('../../png2/fl_cl.png') center center no-repeat;
  }
  .part__icon_mlb{
    background: url('../../png2/mlb_cl.png') center center no-repeat;
  }
  .part__icon_leo{
    background: url('../../png2/leo_color.png') center center no-repeat;
  }
  
  .part__icon_arn{
    background: url('../../png2/arn_cl.png') center center no-repeat;
  }
  .part__icon_grf{
    background: url('../../png2/grf_cl.png')center center no-repeat;
  }
  .part__icon_atl{
    background: url('../../png2/atl_cl.png')center center no-repeat;
  }

.part__icon{
  filter: grayscale(1);
}

.part__icon:hover{
filter: grayscale(0);
-moz-transition: all 1s ease;
-webkit-transition: all 1s ease;
-o-transition: all 1s ease;
transition: all 1s ease;
}
