.sidebar{
    width: 110px;
    float: left;
    margin-right: 75px;
  }


.nav__item {
    padding-bottom: 35px;
    padding-left: 20px;
    display: inline-block;
  }
  

.nav__link {
    text-decoration: none; 
  }

.nav__icon {
    width: 22px;
    height: 19px;
    display: inline-block;
    vertical-align: middle;
  }
  
.nav__text {
    font-size: 12px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
  }


.nav__text:hover{
  color: #f89513;
}


.nav__icon_puls, .nav__icon_gant, .nav__icon_star{
  background-image: url('../../png/sprite.png');
  background-repeat: no-repeat;
}

.nav__icon_puls{
  background-position: -165px -10px;
}


.nav__link:hover .nav__icon_puls {
  background-position: -207px -10px;
  
}


.nav__icon_gant {
  background-position: -284px -10px;
}

.nav__link:hover .nav__icon_gant{
  background-position: -247px -10px;
}

.nav__icon_star{
  background-position: -325px -10px;
}

.nav__link:hover .nav__icon_star{
  background-position: -366px -10px;
}

