//colors
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;
$white: #fff;


@import "config/media";
// resolutions
$tablets: 768px;
$phones: 480px;


// setups
@import "config/mixins";
@import "config/fonts";

@import "config/layout";



//common
@import "config/blocks/common/btn";
@import "config/blocks/common/fixed-menu";
// blocks
@import "config/blocks/hero";
@import "config/blocks/best";
@import "config/blocks/beef";
@import "config/blocks/team";
@import "config/blocks/reviews";
@import "config/blocks/order";
@import "config/blocks/menu";
@import "config/blocks/footer";
@import "config/blocks/icon-phone";
@import "config/blocks/arrow-down";
@import "config/blocks/arrow-right";
@import "config/blocks/arrow-left";


